.vagrant
node_modules
.idea
package-lock.json

src/node_modules
src/.idea
src/package-lock.json

playbook/docker-templates/*
playbook/templates/*
playbook/Vagrantfile
playbook/vars/*
playbook/.vagrant/*
