#======================= Global Settings =======================
[global]
workgroup = WORKGROUP
server string = Home Server
server role = standalone server

logging = syslog
log level = 2
log file = /var/log/samba/log.%m
max log size = 1000

obey pam restrictions = yes
unix password sync = yes
passwd program = /usr/bin/passwd %u
passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
pam password change = yes

socket options = TCP_NODELAY IPTOS_LOWDELAY
guest account = nobody

aio read size = 16384
aio write size = 16384
multicast dns register = yes
unix extensions = no
use sendfile = yes
write list = "cameron"

wide links = yes
follow symlinks = yes

guest ok = no
guest only = no
read only = no
browseable = yes
acl check permissions = yes
inherit acls = yes
inherit permissions = yes
store dos attributes = yes
hide dot files = yes
hide special files = yes

#======================= Share Definitions =======================
[Cameron]
path = /mnt/CAMERON
force user = cameron
force group = cameron
valid users = "cameron"

[Rae]
path = /mnt/RAE
force user = cameron
force group = cameron
valid users = "rae","cameron"

#[GAME]
#path = /mnt/GAME_1
#force user = game
#force group = game
#valid users = "game","cameron"
#acl allow execute always = yes
#allow insecure wide links = yes
#case sensitive = no

